
/*color*/
$white :#ffffff;
$black :#333333;
$error :#b94a48;
$blue1 :#4b8df8;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Custom dialog/modal headers */
.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: $black; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: $white; }

/*from validate*/
.form-group.error input, .form-group.error select, .form-group.error textarea {
border-color: $error;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.form-group.error .checkbox, .form-group.error .radio, .form-group.error input, .form-group.error select, .form-group.error textarea {
color: $error;
}
.form-group.error .form-label, .form-group.error .help-block, .form-group.error .help-inline {
color: $error;
}
.form-group.error .glyphicon {
color: $error;
}
.help-inline {
color: $error;
}

/* global */
@media (max-width: 480px) {
  .blockUI .blockMsg .blockElement{
      width: 25% !important;
  }
.hidden-480-imp{
  display: none!important;
}

}

@media (max-width: 1100px){
  .hidden-1100 {
    display: none!important;
  }
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-top-15{
  margin-top: 15px;
}

.padding-0 {
  padding: 0 !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
ul.page-sidebar-menu > li > ul.sub-menu {
  margin: 0;
}

ul.page-sidebar-menu > li.active > a {
  background: #2D7CFC!important;
}

a {
  text-shadow: none !important;
  color: #169EF4;
}

a:hover, a:focus {
  color: #169EF4;
}

.color-mode label {
  padding-top: 0;
}

select.m-wrap.small {
  width: 70px !important;
}

.page-footer-fixed .footer .footer-inner {
  color: #FFFFFF;
  margin-left: 10px;
}
.page-footer-fixed .footer .footer-tools .go-top {
  margin-right: 10px;
}

/* global end */

/* 遮层 */
.blockUI.blockMsg p{
  color: $white;
  font-size: 16px;
  margin-top: 10px;
}

.nav.nav-tabs li:hover {
  cursor: pointer;
}

/* index.html header */
.nav>li>a>img {
  max-width: 50px;
  max-height: 29px;
}

.header .nav .dropdown-menu .fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.header-extra{
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

/* 首页 */

/*报价单弹窗页面*/
.qutation-model-header {
  background-color: $blue1;
}

/*询价单页面*/
.inquire-table td p{
  margin-bottom: 5px;
}

.zoom img{
  max-height: 90px;
  width: 100px;
}

.inquire-table .zoom {
  overflow: hidden;
}

.inquire-table .price span{
  margin-right: 2px;
}

/*报价单tab header*/
.portlet-body .accordion-heading {
  background: #FFF;
  border-bottom: 1px solid #eee;
}

.blog-page .sale-summary .accessoiry{
  overflow: hidden;
}


.quotation-form > .tab-content {
  border:none;
}

.quotation-form.tabbable-custom {
  margin-bottom:0px;
}

.blog-page .blog-tag-data li .icon-remove-sign{
  color: #e02222;
}

.blog-page .blog-tag-data li .icon-ok-sign{
  color: #35aa47;
}

/* finish.html */
.blog-page .blog-tag-data .zoom img {
  max-height: 160px;
  max-width: 130px;
  margin-bottom: 0px;
}

.finish-order-info .sale-summary ul li{
  padding:5px 0 5px;
}

.finish-receipt-info .sale-summary ul li{
  padding:15px 0 5px;
}

.finish-receipt-info .sale-summary ul li span,
.finish-accessory-info .accordion-inner span
{
  min-height: 15px;
}

.finish-accessory-info .accordion-inner{
  padding: 0;
}

#tabs-top .nav-tabs > li.active {
    border-top: 1px solid #d12610;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: -1px;
    margin-right: 0px;
    border-left: 1px solid #ddd;
    position: relative;
}

.tabs-left.tabbable-custom #tabs-top .nav-tabs > li.active > a:hover {
  border-color: transparent #ddd #fff transparent;
}

.tabs-left.tabbable-custom .nav-tabs > li.active > a {
  border-top: none;
}

.quotation-form .tabbable-custom > .tab-content {
  border-bottom: none;
  border-right: none;
}

.accordion-heading {
  background: #FFF;
}
