<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue hidden" id="inquireTable">
  <div class="portlet-title">
    <div class="caption"><i class="icon-globe"></i>微配 - 询价信息列表</div>
    <div class="tools">
      <a href="javascript:;" class="reload" ng-click="reload()" title="刷新数据"></a>
    </div>
  </div>
  <div class="portlet-body">
    <!-- 搜索栏 -->
    <div class="row-fluid">
      <div class="span6 hidden-480-imp">
        <label>
        <select
            class="small m-wrap"
            ng-model="record"
            ng-change="showRecord(record.id)"
            ng-options="r.name for r in records">
        </select>
           /每页
        </label>
      </div>
      <div class="span6">
        <div class="dataTables_filter">
        <label>搜索: <input type="text" class="m-wrap small" ng-model="customSearch"></label>
        </div>
      </div>
    </div>
    <!-- 搜索栏 end-->
    <table class="table table-bordered table-striped table-condensed flip-content table-hover table-full-width inquire-table">
      <thead class="flip-content">
        <tr>
          <th width="20%" style="font-size:13px;">汽车外形 VIN码</th>
          <th width="30%" class="">询价单详情</th>
          <!-- <th width="18%" class="hidden-480">询价车型</th> -->
          <!-- <th width="5%" class="">状态</th> -->
          <th width="8%" class="hidden-480"  ng-click="sort('total_quoted');" ng-class="{'sorting':column != 'total_quoted','sorting_asc':reverse == true && column == 'total_quoted','sorting_desc':reverse == false && column == 'total_quoted'}">总报价数</th>
          <th width="10%" class="hidden-480">询价时间</th>
          <th width="15%" class="hidden-480">我的报价</th>
          <th width="7%" class="">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="quotationSheet in quotationSheetLists.quotation_sheet_lists | filter : customSearch">
          <td><!-- 配件图 -->
            <div class="row-fluid">
            <a class="fancybox-button span6" data-rel="fancybox-button" title="汽车外形" ng-href="{{quotationSheet.original_appearance || 'images/default_car.jpg'}}">
              <div class="zoom">
                <img ng-src="{{quotationSheet.appearance || 'images/default_car.jpg'}}" alt="汽车外形">
                <div class="zoom-icon"></div>
              </div>
            </a>
            <a class="fancybox-button span6" data-rel="fancybox-button" title="VIN码" ng-href="{{quotationSheet.original_vin || 'images/default_car.jpg'}}">
              <div class="zoom">
                <img ng-src="{{quotationSheet.vin || 'images/default_car.jpg'}}" alt="VIN码">
                <div class="zoom-icon"></div>
              </div>
            </a>
            </div>
          </td>
          <td class="">
            <p><i class="icon-home"></i> {{quotationSheet.motor_repair_shop.motor_repair_shop_name}}</p>
            <p><i class="icon-map-marker"></i> {{quotationSheet.motor_repair_shop.motor_repair_shop_address}}</p>
            <p><i class="icon-truck"></i> {{quotationSheet.automobile_brand_name}} {{quotationSheet.automobile_series_name}} {{quotationSheet.automobile_model_name}}</p>
          </td>
          <!-- <td class="hidden-480"></td> --><!-- 车型 -->
          <td class="hidden-480">
              <span ng-show="quotationSheet.exipiry_time-quotationSheet.server_time < 0" class="label label-default">{{quotationSheet.total_quoted}}次/已过期</span>
              <span ng-show="quotationSheet.exipiry_time-quotationSheet.server_time > 0" class="label" ng-class="{'label-success':quotationSheet.status !== 0,'label-warning':quotationSheet.status === 0}">{{quotationSheet.total_quoted}}次/{{quotationSheet.status_string}}</span>
          </td><!-- 总报价次数 -->
          <td class="hidden-480"><p><i class="icon-time"></i> {{quotationSheet.created_at | formatTime}}</p></td><!-- 时间 -->
          <td ng-if="quotationSheet.current_accessory_shop_is_quoted === true" class="hidden-480 price"><!-- 配件名称/我的报价 -->
            <span class="label label-success">已报价</span>
            <p ng-show="!accessory.price && quotationSheet.quotation_sheet_accessoires.length === 0" ng-if="$index < 6" ng-repeat="accessory in quotationSheet.inquiry_sheet_accessoires">{{accessory.accessory_item_name}}:0</p>
            <p ng-show="!accessory.price && quotationSheet.quotation_sheet_accessoires.length !== 0" ng-if="$index < 6" ng-repeat="accessory in quotationSheet.quotation_sheet_accessoires">{{accessory.accessory_item_name}}:无</p>
            <p ng-show="accessory.price && quotationSheet.quotation_sheet_accessoires.length !== 0"  ng-if="$index < 6" ng-repeat="accessory in quotationSheet.quotation_sheet_accessoires">{{accessory.accessory_item_name}}:￥{{accessory.price}}</p>
          </td>
          <td ng-if="quotationSheet.current_accessory_shop_is_quoted === false" class="hidden-480 price"><!-- 配件名称/我的报价 -->
            <span class="label　label-warning">未报价</span>
            <p ng-show="!accessory.price" ng-if="$index < 6" ng-repeat="accessory in quotationSheet.inquiry_sheet_accessoires">{{accessory.accessory_item_name}}:无</p>
            <p ng-show="accessory.price"  ng-if="$index < 6" ng-repeat="accessory in quotationSheet.inquiry_sheet_accessoires">{{accessory.accessory_item_name}}:￥{{accessory.price}}</p>
          </td>
          <td class="" ng-show="quotationSheet.exipiry_time-quotationSheet.server_time > 0"><!-- 操作 -->
            <p ng-mouseenter="bullhornShake = true" ng-mouseleave="bullhornShake = false">
                <a class="btn blue mini tooltips" title="{{quotationSheet.total_quoted}}次报价" ng-click="inquireDetail(quotationSheet.inquiry_sheet_id,quotationSheet.quotation_sheet_id)">
                  　<span ng-if="quotationSheet.current_accessory_shop_is_quoted === true">
                        <i class="hidden-1100 icon-edit animated" ng-class="{'shake':bullhornShake == true}"></i>更新
                   </span>
                  　<span ng-if="quotationSheet.current_accessory_shop_is_quoted === false">
                        <i class="hidden-1100 icon-bullhorn animated" ng-class="{'shake':bullhornShake == true}"></i>报价
                   </span>
                </a>
            </p>
          </td>
          <td class="" ng-show="quotationSheet.exipiry_time-quotationSheet.server_time < 0"><!-- 操作 -->
            <p ng-mouseenter="bullhornShake = true" ng-mouseleave="bullhornShake = false">
                <a class="btn blue mini tooltips" data-trigger="hover" data-placement="right" data-original-title="{{quotationSheet.total_quoted}}次报价" ng-click="inquireDetail(quotationSheet.inquiry_sheet_id,quotationSheet.quotation_sheet_id)">
                <i class="hidden-1100 icon-list animated" ng-class="{'shake':bullhornShake == true}"></i>
                    <span>查看</span>
                </a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- 分页 -->
    <div class="row-fluid">
      <div class="span6">
        <div ng-show="currentPage * limit <= quotationSheetLists.total" class="dataTables_info">{{(currentPage-1) * limit + 1}} 到 {{currentPage * limit}} 共 {{quotationSheetLists.total}}条</div>
        <div ng-show="currentPage * limit > quotationSheetLists.total" class="dataTables_info">{{(currentPage-1) * limit + 1}} 到 {{quotationSheetLists.total}} 共 {{quotationSheetLists.total}}条</div>
      </div>
      <div class="span6">
        <div class="dataTables_paginate paging_bootstrap pagination">
          <ul>
            <li class="prev" ng-class="{'disabled' : prevBtn === true}" ng-click="!prevBtn && prev(currentPage)">
              <a href="javascript:;"><i class="icon-chevron-left"></i><span class="hidden-480"></span></a>
            </li>
            <li class="" ng-class="{'active' : currentPage === page}" ng-repeat="page in pages" ng-click="changePage(page)">
              <a href="javascript:;">{{page}}</a>
            </li>
            <li class="next" ng-class="{'disabled' : nextBtn === true}" ng-click="!nextBtn && next(currentPage)">
              <a href="javascript:;"><span class="hidden-480"></span><i class="icon-chevron-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 分页 end-->
  </div>
</div>
<script>
  jQuery(document).ready(function() {
    'use strict';
    App.initFancybox();
  });
</script>
