<div class="blog-page hidden">
<div class="row-fluid">
        <div class="span7">
        <!-- 维修厂信息 -->
        <div class="span4 blog-img blog-tag-data">
          <img ng-src="{{motorRepairShop.motor_repair_shop_original_image || 'media/image/image2.jpg'}}" alt="">
          <ul class="unstyled inline">
            <li><i class="icon-home"></i> {{motorRepairShop.motor_repair_shop_name}}</li>
            <li><i class="icon-user"></i> {{motorRepairShop.motor_repair_shop_contact}}</li>
            <li><i class="icon-map-marker"></i> {{motorRepairShop.motor_repair_shop_address}}</li>
            <!-- 1=已通过认证 0-未通过认证 -->
            <li><i class="icon-credit-card"></i> 实名认证
              <span ng-if="motorRepairShop.realname_authentication==1"><i class="icon-ok-sign"></i></span>
              <span ng-if="motorRepairShop.realname_authentication==0"><i class="icon-remove-sign"></i></span>
            </li>
            <li><i class="icon-comments"></i> 微配认证
              <span ng-if="motorRepairShop.weipei_authentication==1"><i class="icon-ok-sign"></i></span>
              <span ng-if="motorRepairShop.weipei_authentication==0"><i class="icon-remove-sign"></i></span>
            </li>
          </ul>
          <!-- <ul class="unstyled inline">
          </ul> -->
        </div>
        <!-- 维修厂信息 end-->
        <!-- 维修厂询价信息 -->
        <div class="span8 sale-summary">
              <ul class="unstyled">
                  <li>
                    <span class="span3"><i class="icon-truck"></i> 车型 ：</span>
                    <span class="span9 margin-left-0">{{inquirySheet.automobile_model_name}}</span>
                  </li>
                  <li>
                    <span class="span3"><i class="icon-bell"></i> 状态：</span>
                    <span class="span9 margin-left-0"><span class="label" ng-class="{'label-success':inquirySheet.status == 2,'label-warning':inquirySheet.status !== 2}">{{inquirySheet.status_string}}</span></span>
                  </li>
                  <li>
                      <span class="span3"><i class="icon-cogs"></i> 配件：</span>
                      <span class="span9 margin-left-0">
                        <span ng-repeat='accessoiry in inquirySheetAccessoires'>{{accessoiry.accessory_item_name}}</br></span>
                      </span>
                  </li>
                  <li>
                    <span class="span3"><i class="icon-pencil"></i> <span class="label label-important">备注!</span></span>
                    <span class="span9 margin-left-0">{{inquirySheet.notes || '未留下备注'}}</span>
                  </li>
                  <li><i class="icon-picture"></i> 图片描述：</li>
              </ul>
              <div class="span3 margin-bottom-5" ng-repeat="accessoiry in inquirySheetAccessoires">
                    <div class="accessoiry">
                      <a class="fancybox-button" data-rel="fancybox-button" ng-title="{{accessoiry.accessory_item_name}}" ng-href="{{accessoiry.accessory_item_original_name || 'media/image/image1.jpg'}}">
                        <div class="zoom">
                          <img ng-src="{{accessoiry.accessory_item_image || 'media/image/image1.jpg'}}" ng-alt="{{accessoiry.accessory_item_name}}">
                          <div class="zoom-icon"></div>
                        </div>
                      </a>
                    </div>
              </div>
        </div>
        <!-- 维修厂询价信息 end-->
        </div>

        <div class="span5">
              <div class="portlet-body">
                <div class="accordion scrollable in collapse">
                  <!-- 报价单 tabs-->
                  <div class="accordion-group" ng-repeat="accessoiry in inquirySheetAccessoires">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" ng-click="accessoirySwitch($index)">
                      <i class="icon-cog"></i> {{accessoiry.accessory_item_name}}
                      <span ng-show="inquirySheet.exipiry_time-inquirySheet.server_time < 0" class="btn mini icn-only pull-right">
                        <i class="icon-bullhorn"></i> 报价
                      </span>
                      <span ng-show="inquirySheet.exipiry_time-inquirySheet.server_time > 0" class="btn mini blue icn-only pull-right" ng-click="addQuotation(accessoiry.accessory_item_id)" ng-mouseenter="plusShake = true" ng-mouseleave="plusShake = false">
                        <i class="icon-bullhorn animated" ng-class="{'shake':plusShake == true}"></i> 报价
                      </span>
                      </a>
                    </div>
                    <div class="accordion-body collapse animated" ng-class="{'slideInRight in': $index == accessoryItemOn}">
                      <!--配件BEGIN TABS-->
                      <div class="tabbable tabbable-custom quotation-form">
                        <ul class="nav nav-tabs">
                          <li ng-class="{'active':accessoiry.quotationSheetOn == $index}" ng-repeat="quotationSheetItem in accessoiry.quotation_sheet_items">
                          <!-- <li class="active" ng-repeat="quotationSheetItem in accessoiry.quotation_sheet_items"> -->
                            <a data-toggle="tab" ng-click="quotationSheetItemTab(accessoiry.accessory_item_id,$index)">我的报价/{{$index+1}}</a>
                          </li>
                        </ul>
                        <!-- 配件报价详情列表 -->
                        <div class="tab-content">
                          <div class="tab-pane" ng-class="{'active':accessoiry.quotationSheetOn == $index}" ng-repeat="quotationSheetItem in accessoiry.quotation_sheet_items">
                          <!-- <div class="tab-pane active" ng-repeat="quotationSheetItem in accessoiry.quotation_sheet_items"> -->
                              <div class="modal-body form-horizontal">
                                  <div class="control-group">
                                      <label class="control-label">价格：  </label>
                                      <div class="controls">
                                      <input type="number" class="span6 m-wrap" value="" min="1" ng-model="quotationSheetItem.price" placeholder="请填写价格(单位/元)">
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label">级别：</label>
                                      <div class="controls">
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_level === 1}" ng-click="optionSwitch('level',$parent.$index,$index,1)"><input type="radio" name="level" value="1"></span></div>
                                        原厂件</label>
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_level === 2}" ng-click="optionSwitch('level',$parent.$index,$index,2)"><input type="radio" name="level" value="2"></span></div>
                                        品牌件</label>
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_level === 3}" ng-click="optionSwitch('level',$parent.$index,$index,3)"><input type="radio" name="level" value="3"></span></div>
                                        拆车件</label>
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label">质保：</label>
                                      <div class="controls">
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_quality_gurantee_period === 1}" ng-click="optionSwitch('quality',$parent.$index,$index,1)"><input type="radio" name="quality" value="1"></span></div>
                                        无质保
                                        </label>
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_quality_gurantee_period === 2}" ng-click="optionSwitch('quality',$parent.$index,$index,2)"><input type="radio" name="quality" value="2"></span></div>
                                        一个月
                                        </label>
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_quality_gurantee_period === 3}" ng-click="optionSwitch('quality',$parent.$index,$index,3)"><input type="radio" name="quality" value="3"></span></div>
                                        三个月
                                        </label>
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label">到货：</label>
                                      <div class="controls">
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_arrival === 1}" ng-click="optionSwitch('arrival',$parent.$index,$index,1)"><input type="radio" name="arrival" value="1"></span></div>
                                        现货
                                        </label>
                                        <label class="radio">
                                        <div class="radio"><span ng-class="{'checked':quotationSheetItem.accessory_arrival === 2}" ng-click="optionSwitch('arrival',$parent.$index,$index,2)"><input type="radio" name="arrival" value="2" checked=""></span></div>
                                        空运
                                        </label>
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label visible-ie8 visible-ie9">选填，若是品牌件建议填写品牌名称</label>
                                      <label class="control-label">品牌：<span></span></label>
                                      <div class="controls">
                                      <input type="text" class="span10 m-wrap" style="margin: 0 auto;" placeholder="选填，若是品牌件建议填写品牌名称" data-provide="typeahead" ng-model="quotationSheetItem.accessory_brand" data-items="4" data-source="[&quot;宝马&quot;,&quot;丰田&quot;,&quot;大众&quot;,&quot;奔驰&quot;,&quot;雪铁龙&quot;,&quot;奥迪&quot;,&quot;本田&quot;,&quot;比亚迪&quot;,&quot;福特&quot;,&quot;]" />
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label visible-ie8 visible-ie9">选填，如：一盒6支，不单卖</label>
                                      <label class="control-label">单位：<span></span></label>
                                      <div class="controls">
                                      <input type="text" class="span10 m-wrap" style="margin: 0 auto;" placeholder="选填，如：一盒6支，不单卖" data-provide="typeahead" ng-model="quotationSheetItem.accessory_unit" data-items="4" data-source="[&quot;个&quot;,&quot;支&quot;,&quot;条&quot;,&quot;盒&quot;,&quot;箱&quot;]" />
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label visible-ie8 visible-ie9">选填，如多种型号或需说明内容</label>
                                      <label class="control-label">备注：<span></span></label>
                                      <div class="controls">
                                        <textarea class="span10 m-wrap" rows="1" placeholder="选填，如多种型号或需说明内容" ng-model="quotationSheetItem.notes"></textarea>
                                      </div>
                                  </div>
                                  <a ng-show="inquirySheet.exipiry_time-inquirySheet.server_time > 0" ng-click="delQutation($parent.$index,$index)" class="btn mini red margin-top-15" title="删除此配价单次报价,删除后请更新报价" ng-mouseenter="trashShake = true" ng-mouseleave="trashShake = false">
                                      <i class="icon-trash animated" ng-class="{'shake':trashShake == true}"></i> 删除
                                  </a>
                              </div>
                          </div>
                        </div>
                      </div>
                      <!--END TABS-->
                    </div>
                  </div>
                  <!-- 报价单 end -->
                </div>
              </div>
              <a ng-show="inquirySheet.exipiry_time-inquirySheet.server_time < 0" class="btn">
                <i class="icon-ok-sign"></i> {{actionBtn}}
              </a>
              <a ng-show="inquirySheet.exipiry_time-inquirySheet.server_time > 0" ng-click="SaveOrmodifyQutation(actionMethod)" class="btn blue" ng-mouseenter="oksignShake = true" ng-mouseleave="oksignShake = false">
                <i class="icon-ok-sign animated" ng-class="{'shake':oksignShake == true}"></i> {{actionBtn}}
              </a>
        </div>
</div>
</div>
<script>
  jQuery(document).ready(function() {
    'use strict';
    App.initFancybox();
  });
</script>