<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption"><i class="icon-globe"></i>微配 - 询价单我的报价订单列表</div>
    <div class="tools">
      <a href="javascript:;" class="reload" title="刷新数据"></a>
    </div>
  </div>
  <div class="portlet-body">
    <table class="table table-striped table-bordered table-hover table-full-width">
      <thead>
        <tr>
          <th width="10%">采购单号</th>
          <th width="10%">确认时间</th>
          <th width="10%">过期时间</th>
          <th width="10%">车型</th>
          <th width="10%">备注</th>
          <th width="25%" class="hidden-480">采购配件信息</th>
          <th width="10%" class="hidden-480">订单状态</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sheet in sheetList">
          <td>{{sheet.quotation_sheet_no}}</td>
          <td>{{item.created_at}}</td>
          <td>{{item.exipiry_time}}</td>
          <td>{{item.automobile_model_name}}</td>
          <td>{{item.note}}</td>
          <td class="hidden-480">
            <p ng-repeat="item in quotation_sheet_items"></p>
            <p>配价名：{{item.accessories_item_name}}</p>
            <p>级别：{{item.accessories_level}}</p>
            <p>质保：{{item.accessories_period}}</p>
            <p>运送：{{item.accessories_arrival}}</p>
            <p>品牌：{{item.accessories_brand}}</p>
            <p>价格：<span class="badge badge-success">{{item.price}}/{{item.accessories_unit}}</span></p>
            <p>备注：{{item.notes}}</p>
          </td>
          <td class="hidden-480">{{item.status_string}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
